@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.about {

  .container {
    max-width: 950px;
    margin: 0 auto;

    .about__title {
      text-align: center;
      @include m.font(60px, 400, v.$white-co);
    }

    .about__cards {
      padding: 80px 15px 185px;
      @include m.d-flex(center, center, wrap, row, min(190px, 10vw), min(70px, 5vh));

      .card {
        padding: 10px;
        width: 180px;
        height: 200px;
        border-radius: 20px;
        background: color.adjust(v.$white-co, $alpha: -0.8);
        @include m.d-flex(center, center, nowrap, column, 0, 5px);
        cursor: pointer;

        &__icon {
          width: 50px;
          height: 40px;
          fill: v.$black-co;
        }

        &__title {
          @include m.font(18px, 600);
        }

        &__desc {
          text-align: center;
          @include m.font(16px, 300);
        }

        &:hover {
          background: color.adjust(v.$black-co, $alpha: -0.9);

          .card__icon {
            fill: v.$white-co;
          }

          .card__title,
          .card__desc {
            color: v.$white-co;
          }
        }
      }
    }

    @media (max-width: v.$media-sm) {
      .about__title {
        display: none;
      }

      .about__cards {
        padding: 0px 15px 95px;

        .card {
          width: 140px;
          height: 155px;

          &__title {
            @include m.font(14px, 600);
          }

          &__desc {
            text-align: center;
            @include m.font(11px, 300);
          }
        }
      }
    }
  }
}