@use "variables" as v;
@use "mixins" as m;
@use "placeholders";
@use "sass:color";

.header {
  width: 100%;
  height: 50px;
  background: color.adjust(v.$white-co, $alpha: -0.8);

  border: {
    bottom: {
      width: 1px;
      style: solid;
      color: v.$white-co;
    }
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;

    .nav {
      height: 50px;
      @include m.d-flex(start);
      color: v.$white-co;

      &__logo {
        width: 250px;
        height: 100%;
        @include m.d-flex();

        border: {
          right: 1px solid v.$white-co;
        }

        &-link {
          @include m.font(25px, 500, v.$white-co);

          span {
            font-weight: 700;
          }

          @extend %hover-black, %focus-v;
        }
      }

      &__links {
        flex-grow: 1;

        .list {
          @include m.d-flex(start, center, nowrap, row, min(100px, 5vw), 0);
          padding: 0 0 0 min(100px, 5vw);

          &__item {
            &-link {
              @include m.font(22px, 400, v.$white-co);
              position: relative;
              @extend %hover-black, %after-black-line, %focus-v;
            }
          }
        }

        @media (max-width: v.$media-lg) {
          .list {
            @include m.d-flex(center, center, nowrap, row, min(100px, 5vw), 0);
            padding: 0;
          }
        }
      }

      .covid {
        height: 100%;
        padding: 0 30px;
        @include m.d-flex();

        border: {
          left: 1px solid v.$white-co;
          right: 1px solid v.$white-co;
        }

        &__link {
          @include m.font(16px, 700, v.$white-co);
          @extend %hover-black, %focus-v;
        }
      }

      .earth {
        width: 90px;
        @include m.d-flex();

        &__link {
          @extend %focus-v;

          &-icon {
            @include m.d-flex();
            width: 27px;
            height: 28px;
            fill: v.$white-co;
            @extend %hover-black-icon;
          }
        }
      }
    }
  }
}