@use "variables" as v;
@use "sass:color";

%focus-v {
  &:focus-visible {
    outline: 2px solid v.$white-co;
  }
}

%hover-black {
  &:hover {
    color: v.$black-co;
  }
}

%hover-white {
  &:hover {
    color: v.$white-co;
  }
}

%hover-black-icon {
  &:hover {
    fill: v.$black-co;
  }
}

%hover-black-btn {
  &:hover {
    cursor: pointer;
    background: adjust-color(v.$black-co, $alpha: -0.6);
  }
}

%after-black-line {
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    right: 100%;
    background: v.$black-co;
    height: 1px;
    transition: right 0.22s;
  }

  &:hover::after {
    right: 0;
  }
}