@use 'sass:color';

$light-blue-co: color.adjust(#fff, $alpha: -0.8);
$blue-co: #678FF2;
$white-co: #fff;
$black-co: #000;
$gray-co: #B4B4B4;

$media-xxl: 1400px;
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
$media-min: 428px;